aiohttp==3.6.3
appdirs==1.4.4
async-timeout==3.0.1
attrs==20.3.0
autopep8==1.5.4
chardet==3.0.4
discord.py==1.5.1
distlib==0.3.1
filelock==3.0.12
idna==2.10
multidict==4.7.6
pycodestyle==2.6.0
six==1.15.0
toml==0.10.2
virtualenv==20.0.27
yarl==1.5.1
